# for FastAPI
fastapi==0.103.1
uvicorn==0.23.1
pydantic==2.4.1

# for databases
SQLAlchemy==2.0.21
psycopg[binary, pool]

# for env vars
python-dotenv==1.0.0

# for testing
pytest
pytest-cov
httpx

# email validation
pydantic[email]

# web scraping
nintendeals==3.1.1
beautifulsoup4==4.12.2

# for async tasks
asyncio==3.4.3
aiohttp==3.8.5
